.body1{
    background-color: antiquewhite;
}
.ses{
    background-image: url(./img/anhnenchua.png);
  height:300px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.h1{
    margin-left: 100px;
    color: rgba(80, 81, 81, 0.645);
}
.h2{
    font-size: 30px;
    margin-left: 30px;
    margin-right: 60px;
    
}